<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/book_tracker.css">
    <title>Book Tracker</title>
  </head>
  <body>
    <h1>My Book Tracker</h1>
    <nav>
      <a href="/">View Books</a> |
      <a href="/search">Search Books</a>
    </nav>
    <hr>
    <%= yield %>
  </body>
</html>